{% extends 'base.html' %}
{% load static %}

{% block title %}
    Signup
{% endblock %}

{% block content %}
<!-- Start Hero Section -->
<div class="hero d-flex align-items-center" style="padding-top: 20px; padding-bottom: 20px;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5 text-center">
                <div class="intro-excerpt">
                    <h1>Add New Books</h1>
                    <p class="mb-4"></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Hero Section -->

<!-- Start Add Book Form -->
<div class="untree_co-section">
    <div class="container">
        <div class="block">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-8 pb-4">
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="text-black" for="title">Title</label>
                            <input type="text" class="form-control" id="title" placeholder="Enter book title" name="title">
                        </div>
                        <div class="form-group">
                            <label class="text-black" for="author">Author</label>
                            <input type="text" class="form-control" id="author" placeholder="Enter book author" name="author">
                        </div>
                        <div class="form-group">
                            <label class="text-black" for="price">Price</label>
                            <input type="number" class="form-control" id="price" placeholder="Enter book price" name="price">
                        </div>
                        <div class="form-group">
                            <label class="text-black" for="stock">Stock</label>
                            <input type="number" class="form-control" id="stock" placeholder="Enter book stock" name="stock">
                        </div>
                        <div class="form-group">
                            <label class="text-black" for="genre">Genre</label>
                            <input type="text" class="form-control" id="genre" placeholder="Enter book genre" name="genre">
                        </div>
                        <div class="form-group">
                            <label class="text-black" for="description">Description</label>
                            <textarea class="form-control" id="description" placeholder="Enter book description" name="description"></textarea>
                        </div>
                        <div class="form-group">
                            <label class="text-black" for="isbn">ISBN</label>
                            <input type="number" class="form-control" id="isbn" placeholder="Enter book ISBN" name="isbn">
                        </div>
                        <div class="py-4">
                            <button type="submit" class="btn btn-primary-hover-outline">Add Book</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Add Book Form -->

{% endblock %}
