{% load static %}
<!-- Start Footer Section -->
<footer class="footer-section">
    <div class="container relative">

        <div class="row g-5 mb-5">
            <div class="col-lg-4">
                <div class="mb-4 footer-logo-wrap"><a href="#" class="footer-logo">boi.io<span>.</span></a></div>
                <p class="mb-4">Explore a world of stories at boi.io. Find your next favorite book and immerse yourself in captivating narratives. Happy reading!</p>
            </div>

        </div>

        <div class="border-top copyright">
            <div class="row pt-4">
                <div class="col-lg-6">
                    <p class="mb-2 text-center text-lg-start">Copyright &copy;<script>document.write(new Date().getFullYear());</script>. All Rights Reserved. &mdash; Designed with love by <a href="https://blog.debjotyms.com">Debjoty Mitra</a></p>
                </div>
            </div>
        </div>

    </div>
</footer>
